<!--{% extends 'base.html' %}-->
<!--{% block title %}Home{% endblock title %}-->
<!--{% block content %}-->
<!--    {% if user.is_authenticated %}-->
<!--        Hi {{ user.username }}! You are {{ user.age }} years old.-->
<!--&lt;!&ndash;        <p><a href="{% url 'logout' %}">Log Out</a></p>&ndash;&gt;-->
<!--    <form action="{% url 'logout' %}" method="post">-->
<!--            {% csrf_token %} #csrf_token is very important to have as this is POST request-->
<!--            <button type="submit">Logout</button>-->
<!--        </form>-->
<!--    {% else %}-->
<!--        <p>You are not logged in</p>-->
<!--        <a href="{% url 'login' %}">Log In</a> |-->
<!--        <a href="{% url 'signup' %}">Sign Up</a>-->
<!--    {% endif %}-->
<!--{% endblock content %}-->